frontend/node_modules
frontend/dist
frontend/.vscode

backend/bin
backend/build
backend/.vscode
backend/.gradle

.gitignore

**/settings.json
.idea/compiler.xml
.idea/gradle.xml
.idea/listen.iml
.idea/misc.xml
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules/backend.main.iml
