.caseload-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0; /* Ensure the container is aligned to the top */
  height: 100vh; /* Ensure the container takes the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
}

.MuiTableCell-root {
  padding: 16px;
  max-width: 150px; /* Set a maximum width for the table cells */
  word-wrap: break-word; /* Ensure that the text wraps within the cells */
}

.MuiTableHead-root {
  background-color: #f5f5f5;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: #f9f9f9;
}

.MuiTableRow-root:hover {
  background-color: #f1f1f1;
}
